div.div_border {
    border: 5px solid;
    left: 40px;
    right: 40px;
    border-radius: 2%;
    padding: 2%;
    text-align: center;
    height = 500px;
}

 /* style={'border':'5px solid', 'borderRadius': 25, 'padding': 20} */
.left {
    border: 5px solid;
    border-radius: 2%;
    padding: 2%;
    left: 10px;
    width: 49%;
    height: 690px;
    text-align: center;

    position: absolute;
}
  
.right {
    border: 5px solid;
    border-radius: 2%;
    padding: 2%;
    right: 10px;
    top: 1282px;
    width: 49%;
    height: 690px;
    text-align: center;

    position: absolute;
}

.bottom {
    border: 5px solid;
    border-radius: 2%;
    padding: 2%;
    right: 10px;
    top: 1982px;
    width: 98%;
    height: 1270px;
    text-align: center;

    position: absolute;
}
